<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="Nunit" />
  </specFlow>

  <appSettings>

    <add key="applicationTitle" value="Calculator"/>
    <add key="applicationPath" value="C:\\Windows\\System32\\calc1.exe"/>
    
  </appSettings>
</configuration>